<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Views</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718267">  <td>19/12/09 18:39:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.AddNewViewTest()[pri:0, instance:testcases.ViewsTest@1188e820]">AddNewViewTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:19</td>   <td>104476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.AddNewViewWithoutLayoutTest()[pri:0, instance:testcases.ViewsTest@1188e820]">AddNewViewWithoutLayoutTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:56</td>   <td>141504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.CancelDeletingViewByButton()[pri:0, instance:testcases.ViewsTest@1188e820]">CancelDeletingViewByButton</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:58</td>   <td>203189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.CancelRemovingViewByIconTest()[pri:0, instance:testcases.ViewsTest@1188e820]">CancelRemovingViewByIconTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:00</td>   <td>265155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeLayoutTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeLayoutTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:45:28</td>   <td>353648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeNameTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeNameTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:57</td>   <td>442829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeRemarksTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeRemarksTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:57</td>   <td>502258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeVisibilityStatusTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeVisibilityStatusTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:49:14</td>   <td>579642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ClearViewAndDragResourceTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ClearViewAndDragResourceTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:46</td>   <td>671618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ClearViewTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ClearViewTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:14</td>   <td>759834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.DeleteViewByButtonTest()[pri:0, instance:testcases.ViewsTest@1188e820]">DeleteViewByButtonTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:53:24</td>   <td>829232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.DeleteViewByIconTest()[pri:0, instance:testcases.ViewsTest@1188e820]">DeleteViewByIconTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:38:58</td>   <td>-36126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:40:42</td>   <td>67393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:20</td>   <td>105607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:22</td>   <td>167038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:43:24</td>   <td>229153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:52</td>   <td>317292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:21</td>   <td>406136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:21</td>   <td>466573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:48:39</td>   <td>544300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:10</td>   <td>635196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:51:39</td>   <td>724260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:49</td>   <td>794211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:01</td>   <td>866291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:41</td>   <td>906091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:38</td>   <td>903419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ResourceFilterTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ResourceFilterTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:17</td>   <td>941969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ViewsFilterTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ViewsFilterTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:40:42</td>   <td>66995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:20</td>   <td>105297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:22</td>   <td>167037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:43:24</td>   <td>229153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:52</td>   <td>316973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:21</td>   <td>406136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:21</td>   <td>466573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:48:39</td>   <td>544300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:10</td>   <td>635195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:51:39</td>   <td>724259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:49</td>   <td>794211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:01</td>   <td>866291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:41</td>   <td>906090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:18</td>   <td>943155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:18</td>   <td>943156</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.endReport()[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:37:54</td>   <td>-100677</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.setup(java.lang.String)[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:37:54</td>   <td>-100768</td> <td>&nbsp;</td><td title="&gt;&gt;ViewsTest.startReport()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
</table>
