<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Views</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718267">  <td>19/12/09 18:37:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ViewsTest.startReport()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:37:54</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.setup(java.lang.String)[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:38:58</td>   <td>64642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:39:35</td>   <td>100768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.AddNewViewTest()[pri:0, instance:testcases.ViewsTest@1188e820]">AddNewViewTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:40:42</td>   <td>167763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:40:42</td>   <td>168161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:19</td>   <td>205244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.AddNewViewWithoutLayoutTest()[pri:0, instance:testcases.ViewsTest@1188e820]">AddNewViewWithoutLayoutTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:20</td>   <td>206065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:20</td>   <td>206375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:41:56</td>   <td>242272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.CancelDeletingViewByButton()[pri:0, instance:testcases.ViewsTest@1188e820]">CancelDeletingViewByButton</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:22</td>   <td>267805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:22</td>   <td>267806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:42:58</td>   <td>303957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.CancelRemovingViewByIconTest()[pri:0, instance:testcases.ViewsTest@1188e820]">CancelRemovingViewByIconTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:43:24</td>   <td>329921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:43:24</td>   <td>329921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:00</td>   <td>365923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeLayoutTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeLayoutTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:52</td>   <td>417741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:44:52</td>   <td>418060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:45:28</td>   <td>454416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeNameTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeNameTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:21</td>   <td>506904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:21</td>   <td>506904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:46:57</td>   <td>543597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeRemarksTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeRemarksTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:21</td>   <td>567341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:21</td>   <td>567341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:47:57</td>   <td>603026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ChangeVisibilityStatusTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ChangeVisibilityStatusTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:48:39</td>   <td>645068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:48:39</td>   <td>645068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:49:14</td>   <td>680410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ClearViewAndDragResourceTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ClearViewAndDragResourceTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:10</td>   <td>735963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:10</td>   <td>735964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:50:46</td>   <td>772386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ClearViewTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ClearViewTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:51:39</td>   <td>825027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:51:39</td>   <td>825028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:14</td>   <td>860602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.DeleteViewByButtonTest()[pri:0, instance:testcases.ViewsTest@1188e820]">DeleteViewByButtonTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:49</td>   <td>894979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:52:49</td>   <td>894979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:53:24</td>   <td>930000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.DeleteViewByIconTest()[pri:0, instance:testcases.ViewsTest@1188e820]">DeleteViewByIconTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:01</td>   <td>967059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:01</td>   <td>967059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:38</td>   <td>1004187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ResourceFilterTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ResourceFilterTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:41</td>   <td>1006858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:54:41</td>   <td>1006859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ViewsTest.GoToViewPage()[pri:0, instance:testcases.ViewsTest@1188e820]">&gt;&gt;GoToViewPage</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:17</td>   <td>1042737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewsTest.ViewsFilterTest()[pri:0, instance:testcases.ViewsTest@1188e820]">ViewsFilterTest</td> 
  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:18</td>   <td>1043923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.afterMethod(org.testng.ITestResult)[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
<tr bgcolor="718267">  <td>19/12/09 18:55:18</td>   <td>1043924</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewsTest.endReport()[pri:0, instance:testcases.ViewsTest@1188e820]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667346055</td>   <td></td> </tr>
</table>
